.icon {
  flex: none;
  color: inherit;
}

.sm {
  inline-size: var(--size-icon-sm);
  block-size: var(--size-icon-sm);
}

.md {
  inline-size: var(--size-icon-md);
  block-size: var(--size-icon-md);
}

[dir='rtl'] .directional {
  transform: scaleX(-1);
}
